<!-- views/login.ejs -->
<!doctype html>
<html>
<head>
	<% include partials/head %>
</head>
<body>
	<div class="cnt-center">
		<h3 class="cUniv mb2">Voici les invités qui viennent :</h3>
		<% for (var i=0; i<invitList.length;i++){ %>

			<div class="blc-result mb4">
				<p><%= invitList[i].firstName %> <%= invitList[i].lastName %></p>
				<p><%= invitList[i].email %></p>
				<p>Végé : <%= invitList[i].vege %></p>
				<div class="result-guest">
					
					<% if(invitList[i].guest.length>0){ %>
						<p><strong>Accompagné de : </strong></p>
						<% for (var j=0; j<invitList[i].guest.length; j++) {  %>
							<div class="mb1">
								<p><%= invitList[i].guest[j].firstName %> <%= invitList[i].guest[j].lastName %></p>
								<p>Végé : <%= invitList[i].guest[j].vege %></p>
							</div>	
						<% } %>
					<% } %>
				</div>
				<ul class="mt2">
					<li>Voiture : <%= invitList[i].transportation %></li>
					<li>Places disponibles : <%= invitList[i].availableQuantity %></li>
					<li>Besoins de places : <%= invitList[i].neededQuantity %></li>
					<li>Hébergement : <%= invitList[i].accomodation %></li>
					<li>Vient le lendemain : <%= invitList[i].dayAfter %></li>
					<li>Message : <%= invitList[i].message %></li>
				</ul>
			</div>

		<% } %>
	</div>
</body>
</html>
